<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app  version="3.1" metadata-complete="false" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.softdoc.softdoc</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>admin/index.jsp</welcome-file>
    <welcome-file>client/index.jsp</welcome-file>
    <welcome-file>customer/index.jsp</welcome-file>
    <welcome-file>superadmin/index.jsp</welcome-file>
    <welcome-file>subadminstore/index.jsp</welcome-file>
    <welcome-file>subadminindexing/index.jsp</welcome-file>
    <welcome-file>subadminquality/index.jsp</welcome-file> 
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.softdocadmin.loginService.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/loginadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgotpassword</display-name>
    <servlet-name>Forgotpassword</servlet-name>
    <servlet-class>com.softdocadmin.loginService.Forgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgotpassword</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Process</display-name>
    <servlet-name>Process</servlet-name>
    <servlet-class>com.softdocadmin.loginService.Process</servlet-class>
       <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
       </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Process</servlet-name>
    <url-pattern>/Process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.customeradmin.process.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/customerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerForgot</display-name>
    <servlet-name>CustomerForgot</servlet-name>
    <servlet-class>com.customeradmin.process.CustomerForgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerForgot</servlet-name>
    <url-pattern>/customerforgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProcess</display-name>
    <servlet-name>CustomerProcess</servlet-name>
    <servlet-class>com.customeradmin.process.CustomerProcess</servlet-class>
      <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
     </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProcess</servlet-name>
    <url-pattern>/customer/customerprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLogin</display-name>
    <servlet-name>ClientLogin</servlet-name>
    <servlet-class>com.customerclient.process.ClientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLogin</servlet-name>
    <url-pattern>/clientlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientProcess</display-name>
    <servlet-name>ClientProcess</servlet-name>
    <servlet-class>com.customerclient.process.ClientProcess</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientProcess</servlet-name>
    <url-pattern>/clientprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientForgot</display-name>
    <servlet-name>ClientForgot</servlet-name>
    <servlet-class>com.customerclient.process.ClientForgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientForgot</servlet-name>
    <url-pattern>/clientforgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexingLogin</display-name>
    <servlet-name>IndexingLogin</servlet-name>
    <servlet-class>com.softdocindexing.process.IndexingLogin</servlet-class>
       
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexingLogin</servlet-name>
    <url-pattern>/indexinglogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>IndexingProcess</display-name>
    <servlet-name>IndexingProcess</servlet-name>
    <servlet-class>com.softdocindexing.process.IndexingProcess</servlet-class>
     <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
     </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexingProcess</servlet-name>
    <url-pattern>/indexingprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexingForgot</display-name>
    <servlet-name>IndexingForgot</servlet-name>
    <servlet-class>com.softdocindexing.process.IndexingForgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexingForgot</servlet-name>
    <url-pattern>/indexingforgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexingViewServlet</display-name>
    <servlet-name>IndexingViewServlet</servlet-name>
    <servlet-class>com.softdocindexing.process.IndexingViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexingViewServlet</servlet-name>
    <url-pattern>/viewservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualityLogin</display-name>
    <servlet-name>QualityLogin</servlet-name>
    <servlet-class>com.softdocquality.process.QualityLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualityLogin</servlet-name>
    <url-pattern>/qualitylogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualityProcess</display-name>
    <servlet-name>QualityProcess</servlet-name>
    <servlet-class>com.softdocquality.process.QualityProcess</servlet-class>
       <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
       </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualityProcess</servlet-name>
    <url-pattern>/qualityprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualityForgotpassword</display-name>
    <servlet-name>QualityForgotpassword</servlet-name>
    <servlet-class>com.softdocquality.process.QualityForgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualityForgotpassword</servlet-name>
    <url-pattern>/qualityforgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreLogin</display-name>
    <servlet-name>StoreLogin</servlet-name>
    <servlet-class>com.subadminstore.process.StoreLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreLogin</servlet-name>
    <url-pattern>/storeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreProcess</display-name>
    <servlet-name>StoreProcess</servlet-name>
    <servlet-class>com.subadminstore.process.StoreProcess</servlet-class>
      <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
     </multipart-config>	
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreProcess</servlet-name>
    <url-pattern>/storeprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreForgotpassword</display-name>
    <servlet-name>StoreForgotpassword</servlet-name>
    <servlet-class>com.subadminstore.process.StoreForgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreForgotpassword</servlet-name>
    <url-pattern>/storeforgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperLogin</display-name>
    <servlet-name>SuperLogin</servlet-name>
    <servlet-class>com.superadmin.process.SuperLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperLogin</servlet-name>
    <url-pattern>/superlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperProcess</display-name>
    <servlet-name>SuperProcess</servlet-name>
    <servlet-class>com.superadmin.process.SuperProcess</servlet-class>
     <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperProcess</servlet-name>
    <url-pattern>/superprocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperForgot</display-name>
    <servlet-name>SuperForgot</servlet-name>
    <servlet-class>com.superadmin.process.SuperForgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperForgot</servlet-name>
    <url-pattern>/superforgot</url-pattern>
  </servlet-mapping>
  <session-config>
		<session-timeout>45</session-timeout> 
  </session-config>
</web-app>